{%load static%}
<div class="footer">
  <div class="container">
    <div id="box">
      <a><h4 class="footerTitle">Site map</h4></a>
      <a href="#"><p class="footerElement">Buy property</p></a>
      <a href="#"><p class="footerElement">Sell property</p></a>
      <a href="#"><p class="footerElement">Account sittings</p></a>
    </div>
    <div id="box">
      <a><h4 class="footerTitle">About us</h4></a>
      <a href="#"><p class="footerElement">What we Do</p></a>
      <a href="#"><p class="footerElement">How we recommend</p></a>
      <a href="#"><p class="footerElement">Our team</p></a>
      <a href="#"><p class="footerElement">Contact Us</p></a>
    </div>
    <div id="box">
      <a><h4 class="footerTitle">Social Media</h4></a>
      <a href="#"><p class="footerElement">FaceBook</p></a>
      <a href="#"><p class="footerElement">Twitter</p></a>
      <a href="#"><p class="footerElement">LinkedIn</p></a>
      <a href="#"><p class="footerElement">Instgram</p></a>
    </div>
    <div id="box">
      <h4 class="footerTitle">Created By</h4>
      <p class="footerElement">Mohamed Nasr</p>
      <p class="footerElement">Aya Ebrahim</p>
      <p class="footerElement">Habiba Galal</p>
      <p class="footerElement">Noran Mohamed</p>
      <p class="footerElement">Youssef Ihab</p>
      <p class="footerElement">Aya Abuelwafa</p>
    </div>
  </div>
  <p class="copyright">Dream House</p>
</div>
 <script src="{%static 'js/read_more.js'%}"></script>
  <script src="{%static 'js/slideShow.js'%}"></script>
</body>
</html>