<!-- Start Header -->
{%load static%} {%block content%}
<div class="header" id="header">
  <div class="container">
    <a href="#" class="logo"
      ><img src=" {% static 'assests/logo.png'%}" alt="Dream House"
    /></a>
    <ul class="main-nav">
      <li><a href="{% url 'about'%} ">About Us </a></li>
      <li><a href=" {%url 'sell'%} ">Sell your house </a></li>
      <li>
        <a href=" {% url 'Explore'%} ">Explore properties </a>
      </li>
      <li>
        <button class="myAccount">
          <img src=" {% static 'assests/Vector.png'%}" />
          &nbsp;&nbsp;&nbsp;&nbsp; My Account
          <br />
        </button>
        <!--<a href="#"><img src="{% static 'assests/Vector.png'%}"> My Account</a>-->
        <!-- Start Megamenu -->
        <div class="mega-menu">
          <ul class="links">
            <li>
              <a href="#"><i class="far fa-comments fa-fw"></i> logIn/signUp</a>
            </li>
          </ul>
        </div>
        <!-- End Megamenu -->
      </li>
    </ul>
  </div>
</div>

{%endblock content%}
