@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

*{
    margin: 0;
}

body{
    color: white;
    font-family: "Roboto", sans-serif;
}
#slider{
    height: 500px;
    border: 1px solid Oblack;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.container{
    width: 1600px;
    margin: auto;
}

.subcontainer{
    width: 85%;
    margin: auto;
}

.controller{
    display: flex;
    justify-content: space-between;
}

#controls i{
    color: white;
    font-size: 1rem;
}

.previous, .next{
    padding: 2px;
    width: 30px;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    transition: 0.7s ease-in-out;
    border: 3px solid white;
    background-color: black;
    box-shadow: 0 0 5px #bbb;
}

.previous:hover, .next:hover{
    border: 3px solid gray;
}

.slide-img{
    width: 100%;
    height: 275px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
   transition: 0.5s;
   }
.slide-img:hover{
    box-shadow:0 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.slide-img a{
    text-decoration: none;
    transform: scale(0);
    transition: 0.8s;
    font-size: 1.5rem;
     color: white;
    opacity: 0;
}

.slide-img:hover a{
    opacity: 1;
    transform: scale(1);
   }

.img-1{
    background-image: 
    url(https://images.pexels.com/photos/2816168/pexels-photo-2816168.jpeg?cs=srgb&dl=pexels-roberto-nickson-2816168.jpg&fm=jpg);
}

.img-2{
    background-image: 
    url(https://images.pexels.com/photos/356844/pexels-photo-356844.jpeg?cs=srgb&dl=pexels-pixabay-356844.jpg&fm=jpg);
}

.img-3{
    background-image: 
    url(https://images.pexels.com/photos/208745/pexels-photo-208745.jpeg?cs=srgb&dl=pexels-pixabay-208745.jpg&fm=jpg);
}

.img-4{
    background-image: 
    url(https://images.pexels.com/photos/4194067/pexels-photo-4194067.jpeg?cs=srgb&dl=pexels-samuel-karle-4194067.jpg&fm=jpg);
}

.img-5{
    background-image: 
    url(https://images.pexels.com/photos/2093318/pexels-photo-2093318.jpeg?cs=srgb&dl%=Dpexels-chait-goli-2093318.jpg&fm3jpg);
}

@media(max-width:1600px){
    .container{
      width: 100%;
    }
}