<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamHouse</title>
 <!-- main css file -->
    <link rel="stylesheet" href="../css/find.css">
<!-- render all elemnts normally -->
    <link rel="stylesheet" href="../css/sign.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/all.min.css">
<!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;0,800;1,200;1,500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Work+Sans:ital,wght@0,400;0,700;0,800;1,200;1,500&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/cdd3632853.js" crossorigin="anonymous"></script>
<style>

</style>
</head>
<body>
    <div class="header" id="sign_header">
       <a href="../index.html" class="logo"><img src="../assets/logo.png" alt="Dream House"></a>
    </div>
    <div class="sign_in_body">
        <div class="sign">
            <img src="../assets/login-1.png" alt="logIn">
            <p class="welcome">Welcome back! sign in</p>
        </div>
        <div class=mainSocial>
            <div class="social" id="social1">
                <button>   
                    <img alt="Webapp founder" src="../assets/1534129544.png">
                    Sign in with google</button>
        
            </div>
            <div class="social">
                <button> 
                    <img alt="Webapp founder" src="../assets/facebook-icon.png">
                    Sign in with facebook</button>
            </div>
        </div>
    
        <div class="allForm">
            <div class="user_info">
                <label>Email address</label>
                <input class="input" id="input1" type="email" placeholder="             Name@gmail.com" name="name"/> 
                </div>
            <div class="user_info">
               <label>Password</label>
                <input class="input" id="input2" type="password" placeholder="            *********** " name="password"/>
            </div>
            <div class="newSign">
                <a href="../index.html"> <button class="newSet"><label>Sign in</label><label>></label></button></a>
            </div>
             <div class="newUser">
                 New user ,
                 <a href="create_account.html">Create your account</a>
             </div>
        </div>
    </div>
    <div class="footer">
        <p class="copyright">Dream House </p>
    </div>
   
</body>
</html>