body {
    font-family: "Cairo", sans-serif;
  }

.Header {
    width: 533px;
    height: 36px;
    flex-grow: 0;
    margin: 6px 563px 6px 0;
    font-family: Poppins;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #224a5d;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  :root {
    --main-color: #121b40;
    --main-color-alt: #121b40;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ebeffe;
  }
  a {
    text-decoration: none;
  }
  
  *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .header {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
  }
  .header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 767px) {
    .header .logo {
      width: 100%;
      height: 50px;
    }
  }
  .header .main-nav {
    display: flex;
  }
  @media (max-width: 767px) {
    .header .main-nav {
      margin: auto;
    }
  }
  .header .main-nav > li:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
  }
  .header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    position: relative;
    color: #224a5d;
    margin: 15px;
    padding: 10px 30px;
    overflow: hidden;
    font-size: 18px;
    transition: var(--main-transition);
  }
  @media (max-width: 767px) {
    .header .main-nav > li > a {
      padding: 10px;
      font-size: 14px;
      height: 40px;
    }
  }
  .header .main-nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
  }
  .header .main-nav > li > a:hover {
    color: var(--main-color);
    background-color: #fafafa;
  }
  .header .main-nav > li > a:hover::before {
    left: 0;
  }
  .header .main-nav > li > button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: relative;
    background-color: #ebeffe;
    color: #224a5d;
    margin: 15px;
    padding: 10px 30px;
    overflow: hidden;
    font-size: 18px;
    transition: var(--main-transition);
    border-style: none;
    border-radius: 13px;
  }
  @media (max-width: 767px) {
    .header .main-nav > li > button {
      padding: 10px;
      font-size: 14px;
      height: 40px;
    }
  }
  .header .main-nav > li > button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
  }
  .header .main-nav > li > button:hover {
    color: var(--main-color);
    background-color: #fafafa;
  }
  .header .main-nav > li > button:hover::before {
    left: 0;
  }
  .header .mega-menu {
    position: absolute;
    height: 85px;
    width: 200px;
    right: 30px;
    /*left: 0;*/
    padding: 10px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    border-radius: 0 0 10px 10px;
    z-index: -1;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
  }
  @media (max-width: 767px) {
    .header .mega-menu {
      flex-direction: column;
      gap: 0;
      padding: 5px;
    }
  }
  .header .mega-menu .image img {
    max-width: 100%;
  }
  @media (max-width: 991px) {
    .header .mega-menu .image {
      display: none;
    }
  }
  .header .mega-menu .links {
    min-width: 250px;
    flex: 1;
  }
  .header .mega-menu .links li {
    position: relative;
  }
  .header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
  }
  @media (max-width: 767px) {
    .header .mega-menu .links:first-of-type li:last-child {
      border-bottom: 1px solid #e9e6e6;
    }
  }
  .header .mega-menu .links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition);
  }
  .header .mega-menu .links li:hover::before {
    width: 50%;
  }
  .header .mega-menu .links li a {
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
  }
  .header .mega-menu .links li a i {
    margin-right: 10px;
  }

  .beforeLanding
  {
      text-align: center;
      margin-top: 82px;
      color: #2f2d4a;
      font-size: 40px;
      font-weight: 600;
      margin-left: auto;
      margin-right: auto;
  }
       .container2 {
         padding-left: 15px;
         padding-right: 15px;
         margin-left:  auto;
         margin-right: auto;
       }
       /*small*/
       @media (min-width:768px) {
         .container2 {
           width: 750px;
         }
       }
      /*medium*/

      @media (min-width:992px) {
        .container2 {
          width: 970px;
        }
      }
      /*large*/
      @media (min-width:1200px) {
        .container2 {
          width: 1170px;
        }
      }
       .want {
         font-size: 16px;
         margin-top: 80px;
       }

      
    
  .select .radio {
    margin-left: 55px;
    margin-top: 78px;
    
  }

  .SelectLocation {
    margin-top: 32px;
  }

.SelectLocation {

  margin-top: 32px;
  display: inline-block;
  width: 40%;
  
}
/*small*/
@media (min-width:768px) {
  .container2 {
    width: 750px;
  }
}
/*medium*/

@media (min-width:992px) {
  .container2 {
    width: 970px;
    padding-left: 60px;
  }
}
/*large*/
@media (min-width:1200px) {
  .container2 {
    width: 1170px;
    padding-left: 130px;
  }
}

.SelectLocation2 {
  margin-top: 32px;
  display: inline-block;
  width: 40%;
  
}
/*small*/
@media (min-width:768px) {
  .container2 {
    width: 750px;
  }
}
/*medium*/

@media (min-width:992px) {
  .container2 {
    width: 970px;
  }
  .SelectLocation2{
    margin-left: 90px;
  }
}

/*large*/
@media (min-width:1200px) {
  .container2 {
    width: 1170px;
  }
  .SelectLocation2{
    margin-left: 40px;
  }
}


.SelectLocation .Location {
  border: solid 1px #a0a7af;
  border-radius: 10px;
  width: 388px;
  margin-top: 12px;
  height: 48px;
  

}

.SelectLocation2 .Location{
  border: solid 1px #a0a7af;
  border-radius: 10px;
  width: 388px;
  height: 48px;
  margin-top: 12px;
  
}

.property {
  margin-top: 40px;
}

.property .Location {
  border: solid 1px #a0a7af;
  border-radius: 10px;
  width: 388px;
  height: 48px;
  margin-top: 12px;

}
.FontPhoto {
  font-size: 24px;
  margin-top: 40px;
  color: #224a5d;
}

.borderphoto {
  margin-top: 25px;
 
  width: 845px;
  height: 252px;
  border: solid 1px #000; 
  border-radius: 15px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}
.imageP {
  width: 58px;
  height: 49px;
}
.imagePr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  margin-top: 13px;
}
.imageUp {
  background-color: #385df9;
  border-radius: 10px;
  padding: 12px 18px 12px 17px;
  border-radius: 15px;
  border: solid 1px #000;
  width: 148px;
  font-size: 9px;
  color: #fff;
  font-family: Poppins;
  margin-right: auto;
  margin-left: auto;

}

.SelectLocation input {
  border: solid 1px #a0a7af;
  border-radius: 10px;
  width: 388px;
  margin-top: 12px;
  height: 48px;
  padding-left: 24px;

}
.SelectLocation2 input {
  border: solid 1px #a0a7af;
  border-radius: 10px;
  width: 388px;
  margin-top: 12px;
  height: 48px;
  padding-left: 16px;
}

.SelectLocation label {
  color: #172d45;
  font-size: 16px;
}
.SelectLocation2 label {
  color: #172d45;
  font-size: 16px;
 
}

.SelectLocation input {
  color: #000;
  font-size: 14px;
}

.SelectLocation2 input {
  color: #000;
  font-size: 14px;
}
.call {
  margin-top: 32px;
  color: #172d45;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  width: 767px;
  height: 24px;
}

.lastDiv {
  text-align: right;
  padding-left: 15px;
  padding-right: 25px;
  margin-left:  auto;
  margin-right: auto;
  margin-top: 48px;
}


/*medium*/

@media (min-width:992px) {
  .lastDiv {
    width: 95%;
    
  }
}
/*large*/
@media (min-width:1200px) {
  .lastDiv {
    width:70%;
  }
}
.lastButton {
  padding: 19px 90px 18px 90px;
  border-radius: 20px;
  background-color: #385df9;
}
span {
  color: #fff;
  width: 46px;
  height: 27px;
  flex-grow: 0;
  font-family: Poppins;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.specialtyPic a img {
  width: 124px;
  height: 95px;
  margin-top: 164px;
  
  
}

.specialtyP {
  width: 681px;
  height: 48px;
  flex-grow: 0;
  margin: 0 0 8px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2f2d4a;
 display:block;
}

.specialtyP2 {
  width: 590px;
  height: 61px;
  flex-grow: 0;
  margin: 8px 91px 0 0;
  font-family: Poppins;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #517b8c;
}
/* Start Footer*/

.footer {
  padding: 70px 0 0;
  margin-top: 181px;
  margin-left: 40px;

}

@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 45px;
  margin-bottom: 80px;
 
}
.footerTitle {
 

  width: 100% ;

  flex-grow: 0;
  margin: 0 44.4px 19px 1.1px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #224a5d;

}


.footerElement {
  font-weight: lighter;
  color: #517b8c;
  margin-left: 0px;
  transition: var(--main-transition);
 
}
.footerElement:hover {
  padding-left: 10px;
}

/*End Footer*/





#social1 img {
  width: 30px;
  height: 31px;
  flex-grow: 0;
  margin: 0 17px 0 0;
}

.social img {
  width: 45px;
  height: 45px;
  flex-grow: 0;
  margin: 0 7px 0 0;
}
.social button {
    display: flex;
    justify-content: center;
    align-items: center;
  width: 263px;
  height: 63px;
  flex-grow: 0;
  border-radius: 10px;
  border: solid 1px #a0a7af;
  background-color:white ;
  font-size: 18px;
  color: #224a5d;

}
#social1 {
  margin-right:20px
  
}
.socia {

  text-align: center;
  
}

.mainSocial {
  display: flex;
  justify-content: center;
}

.allForm {
  margin-top:170px;
  color: #172d45;
  height: 24px;
  color: #172d45;
  font-weight: 500;
  font-size: 14px;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
 position: absolute;
}
.allForm .input {
  margin-top: 20px;
  display: block;
  padding: 12px 150px 12px 63px;
  border-radius: 10px;
  border: solid 1px #a0a7af;
  width: 360px;
  height: 48px;
  font-size: 16px;
 
}

.user_info {
  margin-top:20px
}

.user_info label{
  font-family: Poppins;
  font-size: 16px;
  color: #172d45;
}
.newUser {
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  margin-right:30px;
}
.newUser p{
  color: #000;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
  display: inline;

 
}

.newUser button {

  color:blue; 

}

.firstPic {
  display: flex;
  justify-content: center;

  flex-direction: column;
  align-items: center;
}

.newSign {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.newSign .newSet {
    display: flex;
    justify-content: space-between;
width: 360px;
border-radius: 20px;
background-color: #385df9;
margin-top: 32px;
padding: 18px 24px 16.7px 24px;
height: 63px;
text-align: left;
color: #fff;
font-size: 18px;
border-style: none;

}
.name {
  margin-top: 110px;
}

.sign_in_body{
    margin: 130px 0 0 0;
}
/***********/

