{%extends 'parts/base.html'%}{%load static %} {%block content%}

  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamHouse</title>
 <!-- main css file -->
   
    <link rel="stylesheet" href="{%static 'css/main.css'%}" />
<!-- render all elemnts normally -->
    
    <link rel="stylesheet" href="../css/find.css">

<!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;0,800;1,200;1,500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Work+Sans:ital,wght@0,400;0,700;0,800;1,200;1,500&display=swap" rel="stylesheet">
</head>
{%endblock content%}
{%block content2%}
  <!--Start Header-->

  <!--End Header-->
  <!--Start Landing Header-->
  <div class="About_Us_Landing">
    <h3>We try to find your dream house in a couple of steps {{fname}}</h3>
    <p>
      we try to personalize your needed house by comparing it with our detailed
      database
    </p>
  </div>
  <!--End Landing Header-->
  <!-- Start Team -->
  <div class="About_Us_team_dimentions">
    <div class="Team">
      <div class="cards">
        <div class="card">
          <div class="member-image">
            <a
              ><img
                alt="Webapp founder"
                src="{%static 'assets/4a0a7473-04fe-4ca4-ac8c-e291a27f59f6 1.png'%}"
            /></a>
          </div>
          <div class="member-caption">
            <h3>Habiba Galal</h3>
            <p>
              Team Leader <br />
              Back-End Developer
            </p>
          </div>
        </div>
        <div class="card">
          <div class="member-image">
            <a
              ><img
                alt="Webapp founder"
                src="{%static 'assets/87c94e7e-812e-4321-a1e3-5886ac13a23a 1.png'%}"
            /></a>
          </div>
          <div class="member-caption">
            <h3>Yousif Ehab</h3>
            <p>Front-End Developer</p>
          </div>
        </div>
        <div class="card">
          <div class="member-image">
            <a
              ><img
                alt="Webapp founder"
                src=" {%static 'assets/5ff2d472-7200-4518-b248-a2cfac2dff19 1.png'%}"
            /></a>
          </div>
          <div class="member-caption">
            <h3>Aya abulwafa</h3>
            <p>Data Scientist</p>
          </div>
        </div>
        <div class="card">
          <div class="member-image">
            <a
              ><img
                alt="Webapp founder"
                src="{%static 'assets/2b2df030-9193-4129-a1f3-c607e304b7c3 1.png'%}"
            /></a>
          </div>
          <div class="member-caption">
            <h3>Noran Mohamed</h3>
            <p>Front-End Developer</p>
          </div>
        </div>
        <div class="card">
          <div class="member-image">
            <a
              ><img alt="Webapp founder" src="{%static 'assets/2 1.png'%}"
            /></a>
          </div>
          <div class="member-caption">
            <h3>Mohamed Nasr</h3>
            <p>UI/UX</p>
          </div>
        </div>
        <div class="card">
          <div class="member-image">
            <a
              ><img
                alt="Webapp founder"
                src=" {%static 'assets/49c53141-a888-428b-b5ab-6ef204f7b1d6 1.png'%}"
            /></a>
          </div>
          <div class="member-caption">
            <h3>Aya Ebrahim</h3>
            <p>Data Scientist</p>
          </div>
        </div>
      </div>
      <div class="about_us_text">
        <div class="about_us_text_coloumn_1">
          <img
            alt="Akhbar ElYom Academy Logo"
            src="{%static 'assets/Acad.png'%}"
          />
          <h4>Every team member has its specialty</h4>
          <p>
            Every team member has been selected precisely to create a strong
            team for achieving the best experience for you
          </p>
        </div>
        <img
          class="flame-man"
          src=" {%static 'assets/flame-man-forms-a-working-team-with-a-new-employee 1.png'%}"
        />
      </div>
    </div>
  </div>
  <!-- End Team -->
  <!-- Start Footer -->

  <!-- End Footer -->

  {%endblock content2%}
</body>
